In [65]:
import sqlite3
import pandas as pd
import numpy as np

# Create the connection
db = sqlite3.connect(r'C:\Users\이주찬\Desktop\rmathing\mop_rm\Giganpyo_s\timesite\db.sqlite3')

# create the dataframe from a query
df = pd.read_sql_query("SELECT * FROM timetable_subjectinfo", db)
df

,id,name,code,professor1,professor2,day1,day2,day3,day4,start_h1,...,finish_time3,finish_time4,count,credit,department,is_required,is_major,session,year,select_person
0,1,유기화학 Ⅰ,BS2101-01,서지원,None,화,목,None,None,9.0,...,None,None,2.0,3,생명과학전공,필수,교과,spring,2021,16
1,2,유기화학 Ⅰ,BS2101-02,리자오지에,None,화,목,None,None,14.0,...,None,None,2.0,3,생명과학전공,필수,교과,spring,2021,8
2,3,분자생물학,BS2102-01,다런윌리엄스,None,월,수,None,None,10.0,...,None,None,2.0,3,생명과학전공,필수,교과,spring,2021,11
3,4,발생생물학,BS2203-01,진석원,None,화,목,None,None,10.0,...,None,None,2.0,3,생명과학전공,선택,교과,spring,2021,8
4,5,생명정보학 개론,BS2205-01,이선재,None,월,수,None,None,9.0,...,None,None,2.0,3,생명과학전공,선택,교과,spring,2021,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,332,양자광학 및 원자물리학 입문,PS4217-01,이상윤,None,화,목,None,None,14.0,...,None,None,2.0,3,물리전공,선택,교과,spring,2021,1
332,333,학사논문연구 I,PS9102-01,None,None,None,None,None,None,NaN,...,None,None,NaN,3,물리전공,연구,논문연구,spring,2021,0
333,334,학사논문연구 II,PS9103-01,None,None,None,None,None,None,NaN,...,None,None,NaN,3,물리전공,연구,논문연구,spring,2021,0
334,335,과학기술과 경제,UC0901-01,심윤선,None,화,None,None,None,16.0,...,None,None,1.0,1,대학공통,선택,교과,spring,2021,106
335,336,GIST대학 콜로퀴움,UC9331-01,이종호,None,목,None,None,None,16.0,...,None,None,1.0,0,대학공통,연구,세미나,spring,2021,16

In [66]:
subject = pd.read_sql_query("SELECT * FROM timetable_subjectinfo", db)
evaluation =pd.read_sql_query("SELECT * FROM timetable_evaluation", db)

In [67]:
evaluation

   id  test  assignment  grade    comment  subject_id
0   1   3.0         4.5      3        별로임           3
1   2   2.0         2.0      2        별로임           3
2   3   3.5         3.0      3      듣지 마셈           3
3   4   3.0         4.5      2  생물학 수업입니다           3

In [68]:
evaluation['test'] = np.array([3,3,4,4.5], dtype = 'float64')
evaluation['assignment'] = np.array([2.5,3,3,4], dtype = 'float64')
evaluation['grade'] = np.array([3,4,4,4.5], dtype = 'float64')

In [69]:
evaluation = evaluation.append({'id': 5, 'test':3.5, 'assignment':4.5, 'grade':3.5, 'comment':'sample1 좋아요~', 'subject_id':176}, ignore_index=True)
evaluation = evaluation.append({'id': 6, 'test':2.5, 'assignment':4.0, 'grade':3.0, 'comment':'sample2 좋아요~', 'subject_id':176}, ignore_index=True)
evaluation = evaluation.append({'id': 7, 'test':4.5, 'assignment':4.0, 'grade':3.0, 'comment':'sample3 좋아요~', 'subject_id':176}, ignore_index=True)
evaluation = evaluation.append({'id': 8, 'test':2.0, 'assignment':3.5, 'grade':4.0, 'comment':'sample4 좋아요~', 'subject_id':177}, ignore_index=True)
evaluation = evaluation.append({'id': 9, 'test':3.0, 'assignment':3.0, 'grade':4.5, 'comment':'sample5 좋아요~', 'subject_id':178}, ignore_index=True)
evaluation

   id  test  assignment  grade       comment  subject_id
0   1   3.0         2.5    3.0           별로임           3
1   2   3.0         3.0    4.0           별로임           3
2   3   4.0         3.0    4.0         듣지 마셈           3
3   4   4.5         4.0    4.5     생물학 수업입니다           3
4   5   3.5         4.5    3.5  sample1 좋아요~         176
5   6   2.5         4.0    3.0  sample2 좋아요~         176
6   7   4.5         4.0    3.0  sample3 좋아요~         176
7   8   2.0         3.5    4.0  sample4 좋아요~         177
8   9   3.0         3.0    4.5  sample5 좋아요~         178

In [70]:
subject_eval = subject.merge(evaluation, left_on = 'id', right_on = 'subject_id').loc[:, ['name', 'professor1', 'professor2', 'year', 'session', 'test', 'assignment', 'grade', 'comment', 'subject_id']]

In [71]:
subject_eval

,name,professor1,professor2,year,session,test,assignment,grade,comment,subject_id
0,분자생물학,다런윌리엄스,None,2021,spring,3.0,2.5,3.0,별로임,3
1,분자생물학,다런윌리엄스,None,2021,spring,3.0,3.0,4.0,별로임,3
2,분자생물학,다런윌리엄스,None,2021,spring,4.0,3.0,4.0,듣지 마셈,3
3,분자생물학,다런윌리엄스,None,2021,spring,4.5,4.0,4.5,생물학 수업입니다,3
4,영어 Ⅰ: 신입생 영어,숀트,카자,2021,spring,3.5,4.5,3.5,sample1 좋아요~,176
5,영어 Ⅰ: 신입생 영어,숀트,카자,2021,spring,2.5,4.0,3.0,sample2 좋아요~,176
6,영어 Ⅰ: 신입생 영어,숀트,카자,2021,spring,4.5,4.0,3.0,sample3 좋아요~,176
7,영어 Ⅰ: 신입생 영어,나타샤,파월,2021,spring,2.0,3.5,4.0,sample4 좋아요~,177
8,영어 Ⅰ: 발표와 토론,엘리스,리,2021,spring,3.0,3.0,4.5,sample5 좋아요~,178

In [72]:
subject_eval[(subject_eval['name'] == '분자생물학') & (subject_eval['professor1'] == '다런윌리엄스')]
mean_test = np.mean(subject_eval[(subject_eval['name'] == '분자생물학') & (subject_eval['professor1'] == '다런윌리엄스')]['test'])
mean_assignment = np.mean(subject_eval[(subject_eval['name'] == '분자생물학') & (subject_eval['professor1'] == '다런윌리엄스')]['assignment'])
mean_grade = np.mean(subject_eval[(subject_eval['name'] == '분자생물학') & (subject_eval['professor1'] == '다런윌리엄스')]['grade'])

mean_test, mean_assignment, mean_grade

(3.625, 3.125, 3.875)

In [73]:
subject_eval = subject_eval.groupby(['name', 'professor1']).mean().reset_index()
subject_eval

           name professor1  year   test  assignment     grade  subject_id
0         분자생물학     다런윌리엄스  2021  3.625    3.125000  3.875000           3
1  영어 Ⅰ: 발표와 토론        엘리스  2021  3.000    3.000000  4.500000         178
2  영어 Ⅰ: 신입생 영어        나타샤  2021  2.000    3.500000  4.000000         177
3  영어 Ⅰ: 신입생 영어         숀트  2021  3.500    4.166667  3.166667         176

In [76]:
subject_eval.iloc[0].to_dict()

{'name': '분자생물학',
 'professor1': '다런윌리엄스',
 'year': 2021,
 'test': 3.625,
 'assignment': 3.125,
 'grade': 3.875,
 'subject_id': 3}

In [75]:
subject_eval_list = []
for i in range(subject_eval.shape[0]):
    subject_eval_list.append(subject_eval.iloc[i])
subject_eval_list

[name           분자생물학
 professor1    다런윌리엄스
 year            2021
 test           3.625
 assignment     3.125
 grade          3.875
 subject_id         3
 Name: 0, dtype: object,
 name          영어 Ⅰ: 발표와 토론
 professor1             엘리스
 year                  2021
 test                     3
 assignment               3
 grade                  4.5
 subject_id             178
 Name: 1, dtype: object,
 name          영어 Ⅰ: 신입생 영어
 professor1             나타샤
 year                  2021
 test                     2
 assignment             3.5
 grade                    4
 subject_id             177
 Name: 2, dtype: object,
 name          영어 Ⅰ: 신입생 영어
 professor1              숀트
 year                  2021
 test                   3.5
 assignment         4.16667
 grade              3.16667
 subject_id             176
 Name: 3, dtype: object]

In [77]:
# 엑셀파일 받기
Location = 'C:/Users/이주찬/Desktop/rmathing/mop_rm/Giganpyo_s/timesite'
# 이거 바꿔줄 필요 있음
File = 'Excel_Timetable_2021_fall.xls'

data_pd = pd.read_excel('{}/{}'.format(Location, File),
                        header=None, index_col=None, names=None)

In [78]:
data_pd[13]

0                               시간표
1                     화 13:00~18:00
2                     금 13:00~18:00
3      월 10:30~12:00\n수 10:30~12:00
4      화 10:30~12:00\n목 10:30~12:00
                   ...
359                             NaN
360                   토 09:00~10:00
361                   화 16:00~17:30
362                   목 16:00~17:30
363                   목 16:00~17:30
Name: 13, Length: 364, dtype: object

In [85]:
data_pd[11][1]

'4'